
    <!-- feature 4 -->
    <section id="feature4" class="feature4">
        <div class="container">
            <div class="row">
                <div class="col-md-6 padding-0">
                    <div class="content-iphone">
                        <img class="img-responsive image-sizer" src="http://lorempixel.com/500/400/" alt="iphone">
                        <!--i class="fa fa-play play red-gradient"></i-->
                    </div>
                </div>
                <div class="col-md-5">
                    <div class="single-content">
                        <h3>Soft Materials</h3>
                        <p>
                            Lorem enim exquisitaque, eram incididunt distin guantur. Tractavissent o quid
                            laboris imitarentur ab de ipsum ubi multos de est sed quorum fugiat multos. O
                            illum eiusmod distinguantur. Lorem enim exquisitaque, eram incididunt distin guantur. Tractavissent o quid
                            laboris imitarentur ab de ipsum ubi multos de est sed quorum fugiat multos. O
                            illum eiusmod distinguantur. Lorem enim exquisitaque, eram incididunt distin guantur. Tractavissent o quid
                            laboris imitarentur ab de ipsum ubi multos de est sed quorum fugiat multos. O
                            illum eiusmod distinguantur. Lorem enim exquisitaque, eram incididunt distin guantur. Tractavissent o quid
                            laboris imitarentur ab de ipsum ubi multos de est sed quorum fugiat multos. O
                            illum eiusmod distinguantur.
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5">
                    <div class="single-content">
                        <h3>Elegant style</h3>
                        <p>
                            Lorem enim exquisitaque, eram incididunt distin guantur. Tractavissent o quid
                            laboris imitarentur ab de ipsum ubi multos de est sed quorum fugiat multos. O
                            illum eiusmod distinguantur. Lorem enim exquisitaque, eram incididunt distin guantur. Tractavissent o quid
                            laboris imitarentur ab de ipsum ubi multos de est sed quorum fugiat multos. O
                            illum eiusmod distinguantur. Lorem enim exquisitaque, eram incididunt distin guantur. Tractavissent o quid
                            laboris imitarentur ab de ipsum ubi multos de est sed quorum fugiat multos. O
                            illum eiusmod distinguantur. Lorem enim exquisitaque, eram incididunt distin guantur. Tractavissent o quid
                            laboris imitarentur ab de ipsum ubi multos de est sed quorum fugiat multos. O
                            illum eiusmod distinguantur.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-md-offset-1 padding-0">
                    <div class="content-iphone">
                        <img class="img-responsive image-sizer" src="http://lorempixel.com/500/400/" alt="iphone">
                        <!--i class="fa fa-play play red-gradient"></i-->
                    </div>
                </div>
            </div>
        </div>
    </section><!-- end feature 4 -->
