
    <!-- Content section 14 -->
    <section id="content-section14" class="content-section14">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="products">
                        <div class="single-product">
                            <div><img class="img-responsive img-circle" src="http://lorempixel.com/140/140/" alt="Product Image"></div>
                            <div class="ribbon-left">Sale</div>
                            <div class="product-overflow center-vertically">
                                <ul class="list-inline">
                                    <li><i class="fa fa-search"></i></li>
                                    <li><i class="fa fa-shopping-cart"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-text">
                            <strong>Women's Summer Dress</strong>
                            <ul class="list-inline text-right">
                                <li class="pull-left"><span>$200</span></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="products">
                        <div class="single-product">
                            <div><img class="img-responsive img-circle" src="http://lorempixel.com/140/140/" alt="Product Image"></div>
                            <div class="ribbon-left">Sale</div>
                            <div class="product-overflow center-vertically">
                                <ul class="list-inline">
                                    <li><i class="fa fa-search"></i></li>
                                    <li><i class="fa fa-shopping-cart"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-text">
                            <strong>Women's Summer Dress</strong>
                            <ul class="list-inline text-right">
                                <li class="pull-left"><span>$200</span></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="products">
                        <div class="single-product">
                            <div><img class="img-responsive img-circle" src="http://lorempixel.com/140/140/" alt="Product Image"></div>
                            <div class="ribbon-left">Sale</div>
                            <div class="product-overflow center-vertically">
                                <ul class="list-inline">
                                    <li><i class="fa fa-search"></i></li>
                                    <li><i class="fa fa-shopping-cart"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-text">
                            <strong>Women's Summer Dress</strong>
                            <ul class="list-inline text-right">
                                <li class="pull-left"><span>$200</span></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="products">
                        <div class="single-product">
                            <div><img class="img-responsive img-circle" src="http://lorempixel.com/140/140/" alt="Product Image"></div>
                            <div class="ribbon-left">Sale</div>
                            <div class="product-overflow center-vertically">
                                <ul class="list-inline">
                                    <li><i class="fa fa-search"></i></li>
                                    <li><i class="fa fa-shopping-cart"></i></li>
                                </ul>
                            </div>
                        </div>
                        <div class="product-text">
                            <strong>Women's Summer Dress</strong>
                            <ul class="list-inline text-right">
                                <li class="pull-left"><span>$200</span></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                                <li><i class="fa fa-star"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- end Content section 14 -->
