<div class="" style="align-content: center;">
  <ngx-gallery [options]="galleryOptions" [images]="galleryImages"></ngx-gallery>
</div>
<br />
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="row">
        <div class="col-md-3">
          <img alt="Bootstrap Image Preview" src="assets/images/galleria/ItemNecklace.jpg" class="img-circle image-sizer" />
          <dl>
            <dt>
              Items
            </dt>
            <dd>
              See our wide range of items on sale now!
            </dd>

          </dl>
        </div>
        <div class="col-md-3">
          <img alt="Bootstrap Image Preview" routerLink="about" src="assets/images/galleria/AboutUs.jpg" class="img-circle image-sizer" />
          <dl>
            <dt>
              About
            </dt>
            <dd>
              Find out more about the dedicated people to make things possible.
            </dd>

          </dl>
        </div>
        <div class="col-md-3">
          <img alt="Bootstrap Image Preview" src="assets/images/galleria/FunImage.jpg" class="img-circle image-sizer" />
          <dl>
            <dt>
              Fun Fun Fun
            </dt>
            <dd>
              A variety of fun and wonderful things.
            </dd>

          </dl>
        </div>
        <div class="col-md-3">
          <img alt="Bootstrap Image Preview" src="assets/images/galleria/ContactUs.jpg" class="img-circle image-sizer" />
          <dl>
            <dt>
              Contact-Us
            </dt>
            <dd>
              Get in touch to find out more about our wonderful products.
            </dd>
          </dl>
        </div>
      </div>
    </div>
  </div>
</div>

