
    <!-- Content section 6 -->
    <section id="content-section6" class="content-section6">
      <br />
      <br />
      <br />
      <br />
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="content-iphone">
                        <img class="img-responsive" src="assets/images/galleria/AboutUsBusiness.jpg" alt="iphone">
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <div class="single-content">
                        <h3 class="border-bottom">About Us</h3>
                        <p>
                            Lorem enim exquisitaque, eram incididunt distin guantur. Tractavissent o quid laboris
                            imitarentur ab de ipsum ubi multos de est sed quorum fugiat multos.
                        </p>
                        <ul class="list-inline">
                            <li><i class="fa fa-facebook-official"></i></li>
                            <li><i class="fa fa-twitter"></i></li>
                            <li><i class="fa fa-google-plus"></i></li>
                            <li><i class="fa fa-dribbble"></i></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- end row -->
        </div>
        <!-- end container -->
    </section>
    <!-- end Content section 6 -->
